#radio-station {
    color: white;
}

#live-radio{
    color: lightgrey;
}

body{
    background-image: linear-gradient(grey, black);
}

#radio-info{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

