.lyric-container {
    /* height: 14px; */
    color: white;

}
.lyricHeader {
    float: left;
}
/* .SongInfo {
    float:right;
} */
/* .lyrics {
    height: 14px;
} */

.footer-div {
    padding-top: 15px;
}
